
@{
    ViewData["Title"] = "Index";
}
@using Bilten.Web.ViewModels.Mjere;
@model MjereIndexVM

<h3>Odaberite kategoriju</h3>
<hr />
<table class="table-bordered table-condensed">
    <thead>
        <tr>
            <th>Naziv</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Rows)
        {
            <tr>
                <td>@x.NazivKategorije</td>@(" ")
                <td>
                    <a href="/Mjere/Prikazi?=@x.KategorijeId">Prikazi</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<br />

<div id="prikazMjera"></div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript" src="js/script.js"></script>
<script>
    $(".Klik").click(function (event) {
        var btn = $(this);
        var id = btn.attr("atribut");

        $.get("/Mjere/Prikazi?=" + id, function (rezultat, status) {
            $("#prikazMjera").html(rezultat);
        });
    });
    //$("#kategorijeId").change( function (event) {
    //  var id = $(this).val();
    //    $.get("/Mjere/Prikazi?id=" + id, function (rezultat, status) {
    //        $("#prikazMjera").html(rezultat);
    //    });
    //});

</script>