
@{
    ViewData["Title"] = "IndexZaUredi";
    Layout = "~/Views/Shared/_Layout-Operater.cshtml";
}
@using Bilten.Web.Areas.OperaterModul.ViewModels.DogadjajiMjere;
@model DogadjajiMjereIndexZaUrediVM

<input type="hidden" name="name" value="@Model.DogadjajID" />
<h5>Poduzete mjere</h5>
<hr />
<table class="table table-bordered">

    <thead>
        <tr>
            <th>Naziv</th>
            <th>Mjera poduzeta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Rows)
        {
            <tr>
                <td style="width:20%">@x.Mjera</td>
                <td style="width:10%">
                    @if (x.Poduzeta == true)
                    {
                        <a href="/OperaterModul/DogadjajiMjere/Poduzeta?=@x.DogadjajiMjereID" class="btn btn-success">DA</a>
                    }
                    else
                    {
                        <a href="/OperaterModul/DogadjajiMjere/NijePoduzeta?=@x.DogadjajiMjereID" class="btn btn-danger">NE</a>

                    }

                </td>
            </tr>
        }
    </tbody>
    @*<a href="/AdministratorModul/DogadjajiMjere/Dodaj?=@Model.DogadjajID" class="btn btn-danger">Dodaj</a>*@
</table>