
@{
    ViewData["Title"] = "Uredi";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}
@using Bilten.Web.Areas.AdministratorModul.ViewModels.Vrste;
@model VrsteDodajVM

<h3>Uređivanje vrste "<b>@Model.Naziv</b>"</h3>
<hr />

<form action="/AdministratorModul/Vrste/SnimiPromjene">
    <input type="text" name="vrsteId" value="@Model.VrsteId" hidden />
    <input type="text" name="kategorijeId" value="@Model.KategorijeId" hidden />
    <label>Naziv:</label>
    <input type="text" class="form-control col-lg-6" name="nazivVrste" value="@Model.Naziv" />
    <br />
    <br />
    <input type="submit" name="name" value="Snimi" class="btn btn-success" />
</form>
<br />
<br />
<hr />
<a href="/AdministratorModul/Vrste/Index"><< vrati na Vrste</a>
