
@{
    ViewData["Title"] = "Index";
}
@using Bilten.Web.ViewModels.Vrste;
@model VrsteIndexVM

<h3>Odaberi kategoriju</h3>

<table class="table-bordered table-condensed">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Rows)
        {
            <tr>
                <td>@x.NazivKategorije</td>
                <td>
                    <a href="/Vrste/Odaberi?=@x.KategorijeId">Odaberi</a>
                </td>
            </tr>
        }

    </tbody>
</table>
<hr />