
@{
    ViewData["Title"] = "Uredi";
}
@using Bilten.Web.ViewModels.Vrste;
@model VrsteDodajVM

<h3>Uređivanje vrste "<b>@Model.Naziv</b>"</h3>
<hr />

<form action="/Vrste/SnimiPromjene">
    <input type="text" name="vrsteId" value="@Model.VrsteId" hidden />
    <input type="text" name="kategorijeId" value="@Model.KategorijeId" hidden />
    <label>Naziv:</label>
    <input type="text" name="nazivVrste" value="@Model.Naziv" />
    <br />
    <br />
    <input type="submit" name="name" value="Snimi" class="btn btn-danger" />
</form>

