@{
    ViewData["Title"] = "Home Page";
}
<br /><br />

<div><a href="/Kategorije/Index" class="btn btn-default">Kategorije</a></div>
<br />
<div><a href="/Vrste/Index" class="btn btn-default">Vrste</a></div>
<br />
<div><a href="/Mjere/Index" class="btn btn-default">Mjere</a></div>