
@{
    ViewData["Title"] = "Index";
}
@using Bilten.Web.ViewModels.Kategorije;
@model KategorijeIndexVM

<h2>Kategorije</h2>

<table class="table-bordered table-condensed">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Rows)
        {
            <tr>
                <td>@x.Naziv</td>
                <td>
                    <a href="/Kategorije/Uredi?=@x.KategorijeId">Uredi</a>|
                    <a href="/Kategorije/Obrisi?=@x.KategorijeId">Obrisi</a>
                </td>
            </tr>
        }

    </tbody>
</table>
<hr />
<a href="/Kategorije/Dodaj" class="btn btn-default">Dodaj</a>