
@{
    ViewData["Title"] = "Uredi";
}
@using Bilten.Web.ViewModels.Kategorije;
@model KategorijeDodajVM

<h2>Uredi kategoriju</h2>
<hr />
<form action="/Kategorije/SnimiPromjene">
    <label>Naziv:</label>
    <input type="text" name="naziv" value="@Model.Naziv" />
    <input type="text" name="KategorijeId" value="@Model.KategorijeID" hidden />
    <br /><br />
    <input type="submit" name="name" value="Snimi" class="btn btn-success" />
</form>
